{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "arrow-parens": [2, "as-needed"],
    "no-extra-semi": 2
  },
  "ecmaFeatures": {
    "blockBindings": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  }
}
